.next/
out/
node_modules/
.env*
!.env.example
data/*
!data/wxpay/
data/wxpay/*
!data/wxpay/pub_key.pem
!data/wxpay/1483076642_cert/
!data/wxpay/1483076642_cert/*.pem
*.log
*.tsbuildinfo
.DS_Store
.idea
